{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmed Bookings</title>
    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">
    <!-- Styles -->
    <link href="{% static 'CSS/css/lib/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'CSS/css/lib/select2/select2.min.css' %}" rel="stylesheet">
    <link href="{% static 'CSS/css/lib/themify-icons.css' %}" rel="stylesheet">
    <link href="{% static 'CSS/css/lib/menubar/sidebar.css' %}" rel="stylesheet">
    <link href="{% static 'CSS/css/lib/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'CSS/css/lib/helper.css' %}" rel="stylesheet">
    <link href="{% static 'CSS/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'CSSt.css' %}" rel="stylesheet">
    <link href="{% static 'CSS/confirmed_bookings.css'%}" rel="stylesheet">
    

</head>

<body>

    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <div class="logo"><a href="#"><!-- <img src="assets/images/logo.png" alt="" /> --><span>Mahalaxmi Real Estate</span></a></div>
                <ul>

                    </li>

                    <li><a  href="{% url 'dashboard_admin' %}"><i class="ti-home"></i>Dashboard</a>
                    </li>
                    <li><a  href="{% url 'add_salesperson' %}"><i class="ti-user"></i>Add Salesperson</a>
                    </li>
                    <li><a  href="{% url 'list_salesperson' %}"><i class="ti-view-list-alt"></i>View Salesperson</a>
                    </li>
                    <li><a  href="{% url 'add_telecaller' %}"><i class="ti-user"></i>Add Telecaller</a>
                    </li>
                    <li><a  href="{% url 'list_telecaller' %}"><i class="ti-view-list-alt"></i>View Telecallers</a>
                    </li>
                    <li><a  href="{% url 'confirmed_bookings' %}"><i class="ti-files"></i>Confirmed Bookings</a>
                    </li>
                    <li><a  href="{% url 'add_sites' %}"><i class="ti-layout-grid2-alt"></i>Add Sites </a>
                    </li>
                    <li><a  href="{% url 'ongoing_sites' %}"><i class="ti-layout-grid2-alt"></i>Ongoing Sites</a>
                    </li>
                    <li><a  href="{% url 'employee_review' %}"><i class="ti-bell"></i>Employee Review</a>
                    </li>



                </ul>
            </div>
        </div>
    </div>
    <!-- /# sidebar -->

    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="float-left">
                        <div class="hamburger sidebar-toggle">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="float-right">



                            <div class="header-icon">
                                <a href="index3.html"><i class="ti-home"></i></a>
                            </div>




                        <div class="dropdown dib">
                            <div class="header-icon" data-toggle="dropdown">
                                <span class="user-avatar">User_name
                                    <i class="ti-angle-down f-s-10"></i>
                                </span>
                                <div class="drop-down dropdown-profile dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-content-body">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="ti-user"></i>
                                                    <span>Profile</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#">
                                                    <i class="ti-email"></i>
                                                    <span>Inbox</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="ti-settings"></i>
                                                    <span>Setting</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="page-login.html">
                                                    <i class="ti-power-off"></i>
                                                    <span>Logout</span>
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    
    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Confirmed Bookings</h1>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                </div>
                <!-- /# row -->
                <div id="main-content">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="bootstrap-data-table-panel">
                                    <div class="table-responsive">
                                              
                              <table id="row-select" class="display table table-borderd table-hover">
                                <thead>
                                <th>Sr. No.</th>
                                <th>Client Name</th>
                                <th>Email</th>
                                <th>Phone No.</th>
                                <th>Project</th>
                                <th>Property Type</th>
                                <th>Salesperson</th>
                                <th>Amount</th>
                                </thead>
                                <tbody>
                                    {% for booking in confirmed_bookings %}
                                    <tr>
                                        <td>{{booking.id}}</td>
                                        <td>{{booking.name}}</td>
                                        <td>{{booking.email}}</td>
                                        <td>{{booking.phone}}</td>
                                        <td>{{booking.project_type}}</td>
                                        <td>{{booking.property_type}}</td>
                                        <td>{{booking.salesperson}}</td>
                                        <td>{{booking.amount}}</td>
                                        <td>Delete</td>
                                    </tr> 
                                    {% endfor %}
                                  {% comment %} <tr>
                                      <td>1</td>
                                      <td>Akshay Pandit</td>
                                      <td>akshayp123@gmail.com</td>
                                      <td>9876543210</td>
                                      <td>Blue Reef property</td>
                                      <td>Row House</td>
                                      <td>Lina Murthy</td>
                                      <td>₹ 2.3 Crores</td>
                                  </tr>
                                  <tr>
                                      <td>2</td>
                                      <td>Isha Sundaram</td>
                                      <td>isundaram1@gmail.com</td>
                                      <td>9873516309</td>
                                      <td>Orchard street</td>
                                      <td>Flat, 2 BHK</td>
                                      <td>Devansh Mangal</td>
                                      <td>₹ 70 Lacs</td>
                                  </tr>
                                  <tr>
                                      <td>3</td>
                                      <td>Adhya Chaudhuri</td>
                                      <td>adhyachaudhari@yahoo.com</td>
                                      <td>8769304333</td>
                                      <td>The Home Genies</td>
                                      <td>Flat, 1 BHK</td>
                                      <td>Devansh Mangal</td>
                                      <td>₹ 55 Lacs</td>
                                  </tr>
                                  <tr>
                                      <td>4</td>
                                      <td>Vihaan Thakkar</td>
                                      <td>vihaaniit@gmail.com</td>
                                      <td>8335426789</td>
                                      <td>Capstone Real Estate</td>
                                      <td>Commercial</td>
                                      <td>Savitri Batra</td>
                                      <td>₹ 85 Lacs</td>
                                  </tr>
                                  <tr>
                                      <td>5</td>
                                      <td>Anika Arora</td>
                                      <td>anikaarora@yahoo.com</td>
                                      <td>9098764367</td>
                                      <td>Quad-City real estate</td>
                                      <td>Penthouse</td>
                                      <td>Shresth Goswami</td>
                                      <td>₹ 1.2 Crores</td>
                                  </tr> {% endcomment %}

                                </tbody>
                            </table>
                                    </div>
                                </div>
                              
                            </div>
                            <!-- /# card -->
                        </div>
                        <!-- /# column -->
                    </div>
                    <!-- /# row -->
                </div>
            </div>
        </div>
    </div>


    <!-- jquery vendor -->
    <script src="{% static 'JS/js/lib/jquery.min.js' %}"></script>
    <script src="{% static 'JS/js/lib/jquery.nanoscroller.min.js' %}"></script>
    <!-- nano scroller -->
    <script src="{% static 'JS/js/lib/menubar/sidebar.js' %}"></script>
    <script src="{% static 'JS/js/lib/preloader/pace.min.js' %}"></script>
    <!-- sidebar -->

    <!-- bootstrap -->


    <script src="{% static 'JS/js/lib/bootstrap.min.js' %}"></script>
    <script src="{% static 'JS/js/scripts.js' %}"></script>
    <!-- scripit init-->
</body>

</html>
