{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ongoing Sites</title>
    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">
    <!-- Styles -->
    <link href="{% static 'CSS/css/lib/select2/select2.min.css' %}" rel="stylesheet">
    <link href="{% static 'CSS/css/lib/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'CSS/css/lib/themify-icons.css' %}" rel="stylesheet">
    <link href="{% static 'CSS/css/lib/menubar/sidebar.css' %}" rel="stylesheet">
    <link href="{% static 'CSS/css/lib/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'CSS/css/lib/helper.css' %}" rel="stylesheet">
    <link href="{% static 'CSS/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'CSS/.css' %}" rel="stylesheet">
    <link href="{% static 'CSS/ongoing_sites.css' %}" rel="stylesheet">

   

</head>

<body>

    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <div class="logo"><a href="#"><!-- <img src="assets/images/logo.png" alt="" /> --><span>Mahalaxmi Real Estate</span></a></div>
                <ul>

                    </li>

                    <li><a  href="{% url 'dashboard_admin' %}"><i class="ti-home"></i>Dashboard</a>
                    </li>
                    <li><a  href="{% url 'add_salesperson' %}"><i class="ti-user"></i>Add Salesperson</a>
                    </li>
                    <li><a  href="{% url 'list_salesperson' %}"><i class="ti-view-list-alt"></i>View Salesperson</a>
                    </li>
                    <li><a  href="{% url 'add_telecaller' %}"><i class="ti-user"></i>Add Telecaller</a>
                    </li>
                    <li><a  href="{% url 'list_telecaller' %}"><i class="ti-view-list-alt"></i>View Telecallers</a>
                    </li>
                    <li><a  href="{% url 'confirmed_bookings' %}"><i class="ti-files"></i>Confirmed Bookings</a>
                    </li>
                    <li><a  href="{% url 'add_sites' %}"><i class="ti-layout-grid2-alt"></i>Add Sites </a>
                    </li>
                    <li><a  href="{% url 'ongoing_sites' %}"><i class="ti-layout-grid2-alt"></i>Ongoing Sites</a>
                    </li>
                    <li><a  href="{% url 'employee_review' %}"><i class="ti-bell"></i>Employee Review</a>
                    </li>



                </ul>
            </div>
        </div>
    </div>
    <!-- /# sidebar -->

    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="float-left">
                        <div class="hamburger sidebar-toggle">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="float-right">



                            <div class="header-icon">
                                <a href="index3.html"><i class="ti-home"></i></a>
                            </div>




                        <div class="dropdown dib">
                            <div class="header-icon" data-toggle="dropdown">
                                <span class="user-avatar">User_name
                                    <i class="ti-angle-down f-s-10"></i>
                                </span>
                                <div class="drop-down dropdown-profile dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-content-body">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="ti-user"></i>
                                                    <span>Profile</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#">
                                                    <i class="ti-email"></i>
                                                    <span>Inbox</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="ti-settings"></i>
                                                    <span>Setting</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="page-login.html">
                                                    <i class="ti-power-off"></i>
                                                    <span>Logout</span>
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    
    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Ongoing sites</h1>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->
                </div>
                <!-- /# row -->
                <div id="main-content">

                    <div class="row row-cols-1 row-cols-md-auto g-4">
                        {% for site in all_sites %}
                        <div class="col">
                          <div class="card h-100">
                            <img src="{{site.img}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{site.site_name}}</h5>
                                <p class="card-text">{{site.property_type}}</p>
                                <p class="card-text">
                                    Location: 
                                    {{site.location}}
                                </p>
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                        {% comment %} <div class="col">
                          <div class="card h-100">
                            <img src="{% static 'images\ongoing_sites\flat2.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Quad-City real estate</h5>
                              <p class="card-text">Penthouse</p>
                                <p class="card-text">
                                    Location: 
                                    Street:  20/c/2, Dakka Vill, Kingsway Camp
                                    City:   Delhi
                                    State/province/area:    Delhi
                                </p>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card h-100">
                            <img src="{%static 'images\ongoing_sites\house1.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Blue Reef property</h5>
                              <p class="card-text">Row House</p>
                              <p class="card-text">
                                  Location: 
                                  Street:  118-120, Madhani Estate, Senapati Bapat Road, Dadar (e)
                                    City:   Mumbai
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <div class="card h-100">
                            <img src="{% static 'images\ongoing_sites\flat3.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">The Home Genies</h5>
                              <p class="card-text">Flats Available: 12 [1 & 2 BHK]</p>
                                <p class="card-text">
                                    Location: 
                                    Street:  2, Sukh Castle,bhandarkar Lane, Near Ram Mandir, Matunga(c.r)
                                    City:   Mumbai
                                    State/province/area:    Maharashtra
                                </p></div>
                          </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                              <img src="{% static 'images\ongoing_sites\house2.jpg' %}" class="card-img-top" alt="...">
                              <div class="card-body">
                                <h5 class="card-title">Capstone Real Estate</h5>
                                <p class="card-text">Commercial Space</p>
                                <p class="card-text">
                                    Location: 
                                    Street:  325, 5,6, Khanwa Chawl, S. V. Road, Ambolinaka, Andheri (west)
                                    City:   Mumbai
                                    State/province/area:    Maharashtra
                                </p></div>
                            </div>
                        </div> {% endcomment %}
                        




                      </div>
                      <!-- /# row -->
                </div>
            </div>
        </div>
    </div>


    <!-- jquery vendor -->
    <script src="{% static 'JS/js/lib/jquery.min.js' %}"></script>
    <script src="{% static 'JS/js/lib/jquery.nanoscroller.min.js' %}"></script>
    <!-- nano scroller -->
    <script src="{% static 'JS/js/lib/menubar/sidebar.js' %}"></script>
    <script src="{% static 'JS/js/lib/preloader/pace.min.js' %}"></script>
    <!-- sidebar -->

    <!-- bootstrap -->
' %}

    <script src="{% static 'JS/js/lib/bootstrap.min.js' %}"></script>
    <script src="{%static 'JS/js/scripts.js' %}"></script>
    <!-- scripit init-->
</body>

</html>
