{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Leads</title>
  <!-- ================= Favicon ================== -->
  <!-- Standard -->
  <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
  <!-- Retina iPad Touch Icon-->
  <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
  <!-- Retina iPhone Touch Icon-->
  <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
  <!-- Standard iPad Touch Icon-->
  <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
  <!-- Standard iPhone Touch Icon-->
  <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">
  <!-- Styles -->
  <link href="{% static 'CSS/css/lib/select2/select2.min.css' %}" rel="stylesheet">
  <link href="{% static 'CSS/css/lib/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'CSS/css/lib/themify-icons.css' %}" rel="stylesheet">
  <link href="{% static 'CSS/css/lib/menubar/sidebar.css' %}" rel="stylesheet">
  <link href="{% static 'CSS/css/lib/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'CSS/css/lib/helper.css' %}" rel="stylesheet">
  <link href="{% static 'CSS/style.css' %}" rel="stylesheet">
  <link href="{%static 'CSS/newLead_telecaller.css' %}" rel="stylesheet">

  
    

</head>

<body>

  <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
      <div class="nano-content">
        <div class="logo"><a href="#">
            <!-- <img src="assets/images/logo.png" alt="" /> --><span>Mahalaxmi Real Estate</span>
          </a></div>
        <ul>

          </li>

          <li><a class="sidebar-sub-toggle" href="#"><i class="ti-home"></i>Dashboard</a>
          </li>
          <li><a class="sidebar-sub-toggle"><i class="ti-user"></i>Leads<span class="sidebar-collapse-icon ti-angle-down"></span></a>
            <ul>
              <li><a href="#">Add Lead</a></li>
              <li><a href="#">Lead List</a></li>
            </ul>
          </li>
          <li><a class="sidebar-sub-toggle" href="#"><i class="ti-user"></i>Followups</a>
          </li>
          <li><a class="sidebar-sub-toggle" href="#"><i class="ti-files"></i>Visit List</a>
          </li>



        </ul>
      </div>
    </div>
  </div>
  <!-- /# sidebar -->

  <div class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="float-left">
            <div class="hamburger sidebar-toggle">
              <span class="line"></span>
              <span class="line"></span>
              <span class="line"></span>
            </div>
          </div>
          <div class="float-right">



            <div class="header-icon">
              <a href="index3.html"><i class="ti-home"></i></a>
            </div>




            <div class="dropdown dib">
              <div class="header-icon" data-toggle="dropdown">
                <span class="user-avatar">User_name
                  <i class="ti-angle-down f-s-10"></i>
                </span>
                <div class="drop-down dropdown-profile dropdown-menu dropdown-menu-right">
                  <div class="dropdown-content-body">
                    <ul>
                      <li>
                        <a href="#">
                          <i class="ti-user"></i>
                          <span>Profile</span>
                        </a>
                      </li>

                      <li>
                        <a href="#">
                          <i class="ti-email"></i>
                          <span>Inbox</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <i class="ti-settings"></i>
                          <span>Setting</span>
                        </a>
                      </li>
                      <li>
                        <a href="page-login.html">
                          <i class="ti-power-off"></i>
                          <span>Logout</span>
                        </a>
                      </li>
                    </ul>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content-wrap">
    <div class="main">
      <div class="container-fluid">

        <div class="col-lg-12">
          <div class="card">
            <div class="card-title">
              <h4>New Leads</h4>

            </div>
            <div class="card-body">
              <div class="horizontal-form-elements">
                <form class="form-horizontal">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" placeholder="Name">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                          <input type="email" class="form-control" placeholder="Email">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Phone Number</label>
                        <div class="col-sm-10">
                          <input class="form-control" type="text" placeholder="Phone No.">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Age</label>
                        <div class="col-sm-10">
                          <input class="form-control" type="text" placeholder="Age">
                        </div>
                      </div>


                      <!-- /# column -->


                      <div class="form-group">
                        <label class="col-sm-2 control-label">Interested Property</label>
                        <div class="col-sm-10">
                          <select class="form-control">
                            <option>Villa</option>
                            <option>1 BHK</option>
                            <option>2 BHK</option>
                            <option>3 BHK</option>
                            <option>Office/ Commercial</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Budget</label>
                        <div class="col-sm-10">
                          <input class="form-control" type="text" placeholder="Budget">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Next Followup</label>
                        <div class="col-sm-10">
                          <input class="form-control" type="date" placeholder="Age">
                        </div>
                      </div>
                      <div class="button-list">
                        <button type="button" class="btn btn-primary m-b-10 m-l-5">Add Lead</button>

                      </div>

                    </div>
                    <!-- /# column -->
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- /# card -->
        </div>
        <!-- /# column -->
      </div>
    </div>
  </div>



  <!-- jquery vendor -->
  <script src="{% static 'JS/js/lib/jquery.min.js' %}"></script>
  <script src="{% static 'JS/js/lib/jquery.nanoscroller.min.js' %}"></script>
  <!-- nano scroller -->
  <script src="{% static 'JS/js/lib/menubar/sidebar.js' %}"></script>
  <script src="{% static 'JS/js/lib/preloader/pace.min.js' %}"></script>
  <!-- sidebar -->

  <!-- bootstrap -->


  <script src="{% static 'JS/js/lib/bootstrap.min.js' %}"></script>
  <script src="{% static 'JS/js/scripts.js' %}"></script>
  <!-- scripit init-->
</body>

</html>