{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CRM Admin:Support </title>
    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff">
    <!-- Styles -->
   
    <link href="{% static 'CSS/css/lib/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'CSS/css/lib/chartist/chartist.min.css' %}" rel="stylesheet">
    <link href="{% static 'CSS/css/lib/data-table/buttons.bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'CSS/css/lib/themify-icons.css' %}" rel="stylesheet">
    <link href="{% static 'CSS/css/lib/owl.carousel.min.css' %}" rel="stylesheet" />
    <link href="{% static 'CSS/css/lib/owl.theme.default.min.css' %}" rel="stylesheet" />
    <link href="{% static 'CSS/css/lib/menubar/sidebar.css' %}" rel="stylesheet">
    <link href="{% static 'CSS/css/lib/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'CSS/css/lib/helper.css' %}" rel="stylesheet">
    <link href="{% static 'CSS/css/style.css' %}" rel="stylesheet">
  
    
</head>

<body>
    
    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <div class="logo"><a href="#"><!-- <img src="assets/images/logo.png" alt="" /> --><span>Mahalaxmi Real Estate</span></a></div>
                <ul>
                    <li class="label"></li>
                    <br>
                    <br>
                    <li><a  href="{% url 'dashboard' %}"><i class="ti-home"></i>Dashboard</a>
                    </li>

                    <li class="label"></li>
                    <li><a class="sidebar-sub-toggle"><i class="ti-user"></i>Clients<span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="{% url 'add_client' %}">Add Client</a></li>
                            <li><a href="{% url 'list_clients' %}">List Clients</a></li>
                        </ul>
                    </li>

                    <li><a class="sidebar-sub-toggle"><i class="ti-view-list-alt"></i>Agents<span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="{% url 'add_agent' %}">Add Agent</a></li>
                            <li><a href="{% url 'list_agents' %}">Agents List</a></li>
                        </ul>
                    </li>

                    <li><a class="sidebar-sub-toggle"><i class="ti-layout"></i>Projects<span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="{% url 'view_project' %}">View All Projects</a></li>
                            <li><a href="{% url 'add_project' %}">Add Project</a></li>
                        </ul>
                    </li>

                    <li><a class="sidebar-sub-toggle"><i class="ti-layout-grid2-alt"></i>Properties<span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="{% url 'list_properties' %}">View All Properties</a></li>
                            <li><a href="{% url 'add_properties' %}">Add New Property</a></li>
                        </ul>
                    </li>

                    <li><a class="sidebar-sub-toggle"><i class="ti-panel"></i>Leads<span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="{% url 'fresh_leads' %}">Fresh Leads</a></li>
                            <li><a href="{% url 'add_new_leads' %}">Add New Lead</a></li>
                            <li><a href="{% url 'upcoming_followups' %}">Up-Coming Follow-up's</a></li>
                            <li><a href="{% url 'todays_followups' %}">Today's Follow-up's</a></li>
                            <li><a href="{% url 'old_followups' %}">Old Pending Follow-up's</a></li>
                            <li><a href="{% url 'all_leads' %}">All Leads</a></li>
                        </ul>
                    </li>

                    <li><a class="sidebar-sub-toggle" href="#"><i class="ti-layout-grid4-alt"></i>Search Leads</a>
                    </li>

                    <li><a class="sidebar-sub-toggle"><i class="ti-bell"></i>Payments<span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="{% url 'view_payment' %}">View Payment History</a></li>
                            <li><a href="{% url 'add_payment' %}">Add New Payment</a></li>
                        </ul>
                    </li>

                    <li><a class="sidebar-sub-toggle"><i class="ti-files"></i>Agreements<span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="{% url 'view_agreement' %}">View Agreement History</a></li>
                            <li><a href="{% url 'add_agreement' %}">Add New Agreement</a></li>
                        </ul>
                    </li>

                    <li><a class="sidebar-sub-toggle"><i class="ti-heart"></i>Masters<span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="{% url 'masters_add_source' %}">Add Source</a></li>
                            <li><a href="{% url 'masters_add_property_type' %}">Master - Add Property Type</a></li>
                            <li><a href="{% url 'masters_add_amenities' %}">Master - Add Amenities</a></li>
                        </ul>
                    </li>

                    <li><a class="sidebar-sub-toggle"><i class="ti-settings"></i>Settings<span class="sidebar-collapse-icon ti-angle-down"></span></a>
                        <ul>
                            <li><a href="{% url 'add_user' %}">New User</a></li>
                            <li><a href="{% url 'password' %}">Change Password</a></li>
                            <li><a href="{% url 'history' %}">User's List & Last Login</a></li>
                        </ul>
                    </li>

                    <li><a href="{% url 'supports' %}" class="ti-target"></i>Support</a></li>
                    
                </ul>
            </div>
        </div>
    </div>
    <!-- /# sidebar -->

    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="float-left">
                        <div class="hamburger sidebar-toggle">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="float-right">
                        
                        
                        
                            <div class="header-icon">
                                <a href="{% url 'home' %}"><i class="ti-home"></i></a>
                            </div>    
                    



                        <div class="dropdown dib">
                            <div class="header-icon" data-toggle="dropdown">
                                <span class="user-avatar">User_name 
                                    <i class="ti-angle-down f-s-10"></i>
                                </span>
                                <div class="drop-down dropdown-profile dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-content-body">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="ti-user"></i>
                                                    <span>Profile</span>
                                                </a>
                                            </li>

                                            <li>
                                                <a href="#">
                                                    <i class="ti-email"></i>
                                                    <span>Inbox</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="ti-settings"></i>
                                                    <span>Setting</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'login' %}">
                                                    <i class="ti-power-off"></i>
                                                    <span>Logout</span>
                                                </a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="content-wrap">
    <div class="content">
    
    <div class="container">
      <div class="row">
        <div class="col-md-5 mr-auto">
          <h2>Contact Us</h2>
          <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quaerat autem corrupti asperiores accusantium et fuga! Facere excepturi, quo eos, nobis doloremque dolor labore expedita illum iusto, aut repellat fuga!</p>

          <ul class="list-unstyled pl-md-5 mb-5">
            <li class="d-flex text-black mb-2">
              <span class="mr-3"><span class="icon-map"></span></span> 34 Street Name, City Name Here, <br> United States
            </li>
            <li class="d-flex text-black mb-2"><span class="mr-3"><span class="icon-phone"></span></span> +1 (222) 345 6789</li>
            <li class="d-flex text-black"><span class="mr-3"><span class="icon-envelope-o"></span></span> info@mywebsite.com </li>
          </ul>
        </div>

        <div class="col-md-6">
          <form class="mb-5" method="post" id="contactForm" name="contactForm">
            <div class="row">
              
              <div class="col-md-12 form-group">
                <label for="name" class="col-form-label">Name</label>
                <input type="text" class="form-control" name="name" id="name">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 form-group">
                <label for="email" class="col-form-label">Email</label>
                <input type="text" class="form-control" name="email" id="email">
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 form-group">
                <label for="message" class="col-form-label">Message</label>
                <textarea class="form-control" name="message" id="message" cols="30" rows="7"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <input type="submit" value="Send Message" class="btn btn-primary rounded-0 py-2 px-4">
                <span class="submitting"></span>
              </div>
            </div>
          </form>

          <div id="form-message-warning mt-4"></div> 
          <div id="form-message-success">
            Your message was sent, thank you!
          </div>
        </div>
      </div>
    </div>
    <!-- jquery vendor -->
    <script src="{% static 'JS/js/lib/jquery.min.js' %}"></script>
    <script src="{% static 'JS/js/lib/jquery.nanoscroller.min.js' %}"></script>
    <!-- nano scroller -->
    <script src="{% static 'JS/js/lib/menubar/sidebar.js' %}"></script>
    <script src="{% static 'JS/js/lib/preloader/pace.min.js' %}"></script>
    <!-- sidebar -->

    <script src="{% static 'JS/js/lib/bootstrap.min.js' %}"></script>
    <script src="{% static 'JS/js/scripts.js' %}"></script>
    <!-- bootstrap -->
    <script src="{% static 'JS/js/lib/bootstrap.min.js' %}"></script><script src="{% static 'JS/js/scripts.js' %}"></script>
    <script src="{% static 'JS/js/lib/sparklinechart/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'JS/js/lib/sparklinechart/sparkline.init.js' %}"></script>
    <script src="{% static 'JS/js/lib/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'JS/js/lib/owl-carousel/owl.carousel-init.js' %}"></script>




</body>

</html>